#banner
{
	background-image: url(../img/logo_fnmns.png);
	background-color: #ff7566; /* Permet de coller le design du menu */
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 40%;
}